<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :sold_out %>
    <%= form.check_box :sold_out, id: :product_sold_out %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :product_category %>
  </div>

  <div class="field">
    <%= form.label :under_sale %>
    <%= form.check_box :under_sale, id: :product_under_sale %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :sale_price %>
    <%= form.number_field :sale_price, id: :product_sale_price %>
  </div>

  <div class="field">
    <%= form.label :sale_text %>
    <%= form.text_field :sale_text, id: :product_sale_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
